*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}
body{
    /* overflow: hidden; */
}
.logo{
    display: flex;
    gap: 15px; 
}
.logo img{
    padding-top: 13px;
}
ul{
    display: flex;
    list-style: none;
    gap: 40px;
}


nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(126, 123, 115);
}
.icons{
    display: flex;
    gap: 20px;
}

.section{
    background-image: url(image/scandinavian-interior-mockup-wall-decal-background\ 1.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.box{
    background-color: rgb(255, 238, 216);
    width: 500px;
    height: 350px;
    padding: 50px 0px 50px 20px;
    border-radius: 3px;
}
.button{
    background-color: rgb(172, 113, 20);
    padding: 15px 35px;
    border: 1px solid rgb(172, 113, 20);
    border-radius: 5px;
}
.container{
    padding: 170px 15px 50px 700px;
}
.text h2{
    padding: 10px 100px 10px 0px;
    font-weight: 500;
    color: rgb(172, 113, 20);
    font-size: 35px;
}
.text p{
    padding-right: 10px;
    font-size: 16px;
}
.click{
    padding: 20px 0px 20px 0px;
}
.click a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}
.piccard{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 40px;
}
.hero{
    text-align: center;
    padding-top: 50px;
}
.hero h3{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}
.room p{
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}
